.padded-wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;  
    margin: 0 auto;
    font-size: 14px;
}

.wrapper {
    margin-left: 90px;
}

.plp-head{
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #DBDDE0;

    .plp-head_left{
        width: 40%;
        a{
            color: #0A47ED;
            text-decoration: none;
            &::before{
                content: "<";
                padding-right: .5rem;
            }
        }
    }

    .quickfilter{
        padding-left: 4rem;
        width: 60%;
        .quickfilter-heading{
            display: flex;
            align-items: flex-end;
            margin-bottom: 2rem;
            h3{
                margin: 0;
                font-size: 14px;
            }
            a{
                margin-left: 1rem;
                font-size: 14px;
                text-decoration: none;
                color: #0A47ED;
                font-weight: 500;
                line-height: 1;
            }
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2rem;
            li{
                margin-right: 1rem;
            }
        }
    }
}

.plp-container{
    width: 100%;
    display: flex;
}

.plp-filtercontainer{
    padding-top: 1rem;
    min-width: 20%;
    max-width: 20%;
    .plp-filters{
        margin-bottom: 2em;
        .plp-filterList{
            display: flex;
            flex-direction: column;
            list-style: none;
            &_activeFilters{
                @extend .plp-filterList;
                display: flex;
                flex-direction: unset;
            }
            li.navigationItem{
                padding: .5rem .7rem;
                font-size: 16px;
                border-left: 4px solid rgba(255, 255, 255, 0);
                display: flex;
                justify-content: space-between;
                .icon-close{
                    display: none;
                    filter: brightness(0);
                }
                &:hover, &.active{
                    background: #F1F7FF;
                    border-left-color: #0A47ED;
                    cursor: pointer;
                }
                &:hover{
                    .icon-close{
                        filter: none;
                    }
                }
                &.active{
                    .icon-close{
                        display: inline;
                    }
                }
            }
            label{
                padding: .5rem .7rem;
                font-size: 16px;
                border-left: 4px solid rgba(255, 255, 255, 0);
                input{
                    position: relative;
                    appearance: none;
                    background-color: #fff;
                    margin: 0;
                    margin-right: 1em;
                    &::before{
                        content: "";
                        position: absolute;
                        height: 1.5em;
                        top: -1em;
                        left: -1em;
                        width: 1.5em;
                        background-size: cover;
                        background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' version='1.1' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0h-12c-1.1 0-2 0.9-2 2v12c0 1.1 0.9 2 2 2h12c1.1 0 2-0.9 2-2v-12c0-1.1-0.9-2-2-2zM14 14h-12v-12h12v12z'%3E%3C/path%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                    }
                    &:checked::before{
                        content: "";
                        position: absolute;
                        height: 1.5em;
                        top: -1em;
                        left: -1em;
                        width: 1.5em;
                        background-size: cover;
                        background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' version='1.1' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0h-12c-1.1 0-2 0.9-2 2v12c0 1.1 0.9 2 2 2h12c1.1 0 2-0.9 2-2v-12c0-1.1-0.9-2-2-2zM7 12.414l-3.707-3.707 1.414-1.414 2.293 2.293 4.793-4.793 1.414 1.414-6.207 6.207z'%3E%3C/path%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                    }
                }
                &:hover{
                    background: #F1F7FF;
                    cursor: pointer;
                }
            }
        }
    }
}

.plp-productlist{
    width: 60%;
}

.product-count {
    font-size: 16px;
    padding: 16px 0;
    span {
        color: var(--primaryColor);
    }
}

.product-list-header {
    > div {
        display: inline-block;
        width: 50%;
        &:last-child {
            text-align: right;
        }
    }
    .icon-list, .icon-grid {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-right: 16px;
    }
}

.productTile {
    margin-bottom: 32px;
    a {
        display: block;
        > div {
            display: inline-block;
        }
    }

    .product-image {
        max-width: 30%;
        min-width: 30%;
        img {
            padding: 16px;
            width: 100%;
            height: 180px;
        }
    }
    .product-content {
        vertical-align: top;
        padding-right: 16px;
        max-width: 60%;
        min-width: 60%;
        height: 100%;
        .title {
            color: var(--mainBlack);
            font-size: 16px;
            font-family: "Roboto", Arial, sans-serif;
            &:hover {
                color: var(--primaryColor);
            }
        }

        .description {
            color: var(--mainBlack);
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical; 
            overflow: hidden;
        }
        .tags {
            .pr-2 {
                padding-right: 8px;
            }
            font-family: "Roboto", Arial, sans-serif;
            color: var(--darkGrey);
            padding-bottom: 8px;
            font-size: 16px;
        }
    }
    .product-price {
        vertical-align: top;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 22px;
        font-weight: bold;
        max-width: 10%;
        min-width: 10%;
        .price {
            color: var(--primaryColor);
        }
    }
}
// global styles
.label{
    background: #fff;
    border: 1px solid #0A47ED;
    border-radius: 4px;
    padding: .3rem 1rem;
    font-size: 14px;
}