.padded-wrapper{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;  
    margin: 0 auto;
    font-size: 14px;
}

.plp-head{
    width: 100%;
    padding: 2em 0;
    border-bottom: 1px solid #DBDDE0;;
}

    .plp-head_left{
        width: 40%;
    }

    .quickfilter{
        width: 60%;
    }

.plp-container{
    width: 100%;
    display: flex;
}

.plp-filters{
    width: 40%;
    /* background: purple; */
}

.plp-productlist{
    width: 60%;
    /* background: blue; */
}