.padded-wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;  
    margin: 0 auto;
    font-size: 14px;
}

.plp-head{
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #DBDDE0;

    .plp-head_left{
        width: 40%;
        a{
            color: #0A47ED;
            text-decoration: none;
            &::before{
                content: "<";
                padding-right: .5rem;
            }
        }
    }

    .quickfilter{
        padding-left: 4rem;
        width: 60%;
        .quickfilter-heading{
            display: flex;
            align-items: flex-end;
            margin-bottom: 2rem;
            h3{
                margin: 0;
                font-size: 14px;
            }
            a{
                margin-left: 1rem;
                font-size: 14px;
                text-decoration: none;
                color: #0A47ED;
                font-weight: 500;
                line-height: 1;
            }
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2rem;
            li{
                margin-right: 1rem;
            }
        }
    }
}

.plp-container{
    width: 100%;
    display: flex;
}

.plp-filtercontainer{
    padding-top: 1rem;
    width: 40%;
    .plp-filters{
        .plp-filterList{
            list-style: none;
            li{
                padding: .5rem .7rem;
                font-size: 16px;
                border-left: 4px solid rgba(255, 255, 255, 0);
                &:hover{
                    background: #F1F7FF;
                    border-left-color: #0A47ED;
                }
            }
        }
    }
}

.plp-productlist{
    width: 60%;
}







// global styles

.label{
    background: #fff;
    border: 1px solid #0A47ED;
    border-radius: 4px;
    padding: .3rem 1rem;
    font-size: 14px;
}